# Copyright (C) 2015 Hewlett Packard Enterprise Development LP

[Unit]
Description=OpenSwitch Fan Daemon
After=ovsdb-server.service ops-init.service

[Service]
Type=simple
ExecStart=/sbin/ip netns exec nonet /usr/bin/ops-fand
Restart=on-abort

[Install]
WantedBy=multi-user.target
