# Copyright (C) 2016 Hewlett Packard Enterprise Development LP

[Unit]
Description=OpenSwitch HW-Vtep Daemon
After=ovsdb-server.service ops-init.service

[Service]
Type=simple
ExecStart=/sbin/ip netns exec nonet /usr/bin/ops-hw-vtep -vSYSLOG:INFO
Restart=on-abort

[Install]
WantedBy=multi-user.target
