#
# Vendor specific features
#
menu "Forwarding ASIC (Broadcom) Features"

config BROADVIEW
	bool "Broadview"
	depends on BUFMOND
	default y
	---help---
	  BroadView Instrumentation exposes various instrumentation
	  capabilities in Broadcom silicon.

endmenu
