# OpenSwitch 'ops-openbfdd' service script

[Unit]
Description=OpenSwitch BFDD Daemon
After=ovsdb-server.service ops-init.service

[Service]
Type=simple
# ExecStart=/sbin/ip netns exec swns /usr/bin/bfdd-beacon -vSYSLOG:INFO
ExecStart=/sbin/ip netns exec swns /usr/bin/bfdd-beacon
Restart=on-abort

[Install]
WantedBy=multi-user.target
