# Copyrigt (C) 2016 Hewlett Packard Enterprise Development LP

[Unit]
Description=VRF Manager Daemon
After=ovsdb-server.service ops-init.service

[Service]
Type=simple
ExecStart=/usr/bin/ops-vrfmgrd -vSYSLOG:INFO
Restart=on-abort

[Install]
WantedBy=multi-user.target
