# OpenSwitch 'ops-zebra' daemon service script

[Unit]
Description=OpenSwitch Zebra Daemon
After=ovsdb-server.service ops-init.service

[Service]
Type=simple
ExecStart=/sbin/ip netns exec swns /usr/sbin/ops-zebra
Restart=on-abort

[Install]
WantedBy=multi-user.target
