# OpenSwitch 'ops-bgpd' service script

[Unit]
Description=OpenSwitch BGPD Daemon
After=ovsdb-server.service ops-init.service

[Service]
Type=simple
ExecStart=/sbin/ip netns exec swns /usr/sbin/ops-bgpd -vSYSLOG:INFO
Restart=on-abort

[Install]
WantedBy=multi-user.target
