Copyright (C) 2016 Centec Networks (suzhou) Co., Ltd. All Rights Reserved.

[Unit]
Description=OpenSwitch Switch Daemon for Centec Goldengate
After=ovsdb-server.service ops-init.service

[Service]
Type=forking
ExecStartPre=/sbin/insmod /lib/modules/3.19.0/extra/dal.ko
ExecStart=/sbin/ip netns exec swns /usr/sbin/ops-switchd --no-chdir --pidfile --detach -vSYSLOG:INFO
WorkingDirectory=/var/run/openvswitch
PIDFile=/var/run/openvswitch/ops-switchd.pid
Restart=no

[Install]
WantedBy=multi-user.target
