# (C) Copyright 2015 Hewlett-Packard Enterprise Development Company, L.P.

[Unit]
Description=OpenSwitch REST service Daemon
After=cfgd.service

[Service]
Type=simple
ExecStartPre=/usr/sbin/setcap cap_audit_write,cap_net_admin,cap_net_bind_service+eip /usr/bin/python2.7
ExecStart=/usr/bin/firejail --user=opsrestd --defaultvarlog --force --users.keep=all --groups.keep=ovsdb-client,ops_netop --shell=none --name=restd -- /usr/bin/restd
ExecStartPost=/bin/bash /etc/firejail/restd_exec_start_post.sh

[Install]
WantedBy=multi-user.target
